div.fbp10 {
    display: flex;
    justify-content: center;
}

div.container {
    border: 1px black solid;
    width: 500px;
}

div.form-row {
    padding: 10px;
    display: flex;
    /* flex-flow: column; */
}

.form-row label {
    padding-right: 10px;
    flex: .3;
    /* order: 3; */
}

.form-row input {
    flex: 1;
    /* order: 1; */
}

.banner {
    height: 400px;
    width: 700px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
}

.center-me {
    color: #FFF;
    font-size: 50px;
    /* align-self: center; */
    margin: auto;
}

.pop {
    display: flex;
    /* flex-flow: column nowrap; */
    flex-wrap: wrap;
    margin: 5px;
    background-color: aquamarine;
    justify-content: space-around;
}

.kids {
    margin: 15px;
    background-color: rgb(235, 227, 227);
    border: 1px solid black;
    padding: 25px;
    flex: auto;
}

.pop :first-child {
    /* flex-basis: 100px; */
}

.flex-container {
    display: flex;
    /* flex-flow: column-reverse wrap; */
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid gray;
}

.flex-container>div {
    margin: 4px;
    padding: 4px;
}

.flex-container2 {
    display: flexbox;
    /* flex-flow: column; */
    text-align: center;
    border: 1px solid blue;
    margin: 4px;
}

.flex-container>div {
    padding: 4px;
    border: 1px solid blue;
}

.item {
    /* width: 25%; */
    border: 1px solid black;
    padding: 8px;
}

.item1 {
    /* border: 1px solid red; */
    /* width: 25%; */
}

.item2 {
    /* width: 25%; */
}

.item3 {
    /* border: 1px solid red; */
    /* width: 25%; */
}

.item4 {
    /* width: 25%; */
}

.parent {
    background-color: #f073e1;
    margin: 10px;
    padding: 30px;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: row;
}

.div1 {
    background-color: #f800db;
    margin: 5px;
}

.div2 {
    background-color: #f800db;
    margin: 5px;
    width: 150px;
    font-size: 30px;
}

.div3 {
    background-color: #f800db;
    margin: 5px;
    height: 150px;
}

.div4 {
    background-color: #f800db;
    margin: 5px;
    height: 150px;
    width: 150px;
}

.div5 {
    background-color: #f800db;
    margin: 5px;
    width: 200px;
}

.div6 {
    background-color: #f800db;
    margin: 5px;
    width: 200px;
}

html {
    background-color: #fa923f;
    padding: 10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;
}

hr.sep {
    /* margin: 20px; */
    background-color: gray;
    padding: 20px;
}

div#fbp1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    /* align-items: stretch; */
    justify-content: space-around;
}

div#fbc1 {
    /* flex: 10%; */
    display: flex;
    flex-flow: column;
    border: 1px solid red;
    flex-basis: 15%;
}

div#fbc2 {
    /* flex: 40%; */
    display: flex;
    flex-flow: column;
    border: 1px solid red;
}

div#fbc3 {
    /* flex: 3; */
    /* flex: 10%; */
    display: flex;
    flex-flow: column-reverse;
    border: 1px solid red;
}

div#fbc4 {
    /* flex: 3; */
    /* flex: 10%; */
    border: 1px solid red;
}

div#fbc5 {
    /* flex: 3; */
    /* flex: 10%; */
    border: 1px solid red;
}